/*normal*/
$Primary: #5A7247;
$Secondary1: #A3C585;
$Secondary2: #F6D87B;
$Neutral-Light: #FAF7F2;
$Neutral-Mid: #8B8478;
$Neutral-Dark: #2A2A26;
$Success: #56B881;
$Error: #B94A48;
$Warning: #D79B3A;
/*Dark*/
$Primary: #7C9D5E;
$Secondary1: #C1DBAA;
$Secondary2: #FBE39C;
$Neutral-Light: #2A2A26;
$Neutral-Mid: #A39C8E;
$Neutral-Dark: #1A1A17;
$Error: #D66A68;
$Warning: #F0B855;
$Success: #6CD9A0;
